<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sélection d'un film !">
    <meta name="author" content="">
    <title>Modélisation des retards d'avions !</title>

    <!--    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script> -->
    <!--
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
    -->

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    
    <style>
      <!--
      label { display: block; }
      -->
      select { width: 200px; }
     </style>

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Contenu principal</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                  <a class="navbar-brand" href="/">Retard d'avions !</a>
            </div>

            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% block content %}{% endblock %}

    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="star-light">
                        <span class="italic">Copyright &copy; Sébastien Toquet</span>
                        <p style="font-style:italic; font-size: 14px;"></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>