<script>  /** Days to be disabled as an array */
     //var enableddates = {{ date_activee | safe }};
     var enableddates = ["7-30-2018"];
     var MA_MIN_DATE = '';
     
     function EnableSpecificDates(date) {
        var m = date.getMonth();
        var d = date.getDate();
        var y = date.getFullYear();
 
     // First convert the date in to the mm-dd-yyyy format 
     // Take note that we will increment the month count by 1 
     var currentdate = (m + 1) + '-' + d + '-' + y ;

     for (var i = 0; i < enableddates.length; i++) {
         //console.log( "LALALA "  +enableddates[i] );
         // Now check if the current date is in disabled dates array. 
         if ($.inArray(currentdate, enableddates) != -1 ) {
             console.log( "--STOP : OK -- "  +enableddates[i] + ' pour ' + currentdate);
             return [true];
             }
        else
            console.log( "--STOP : KO -- "  +enableddates[i] + ' pour ' + currentdate);
            return [false];
     }
 
    };

    function Get_Date1(info) {
        Test3();
        console.log("Get_Date1", $('#test1').val(), "--");
        var options = $( "#datepicker_depart" ).datepicker( "option" , "minDate");
        console.log("Get_Date1 -- OPTIONS ", options);
        val = $( ".datepicker_depart" ).datepicker( "option", "minDate");
        console.log("Get_Date1.2 -- OPTIONS ", val);
        //return val;
        return $('#test1').val();
    };
    
    function Get_Date2(info) {
        //console.log("NEW1", MA_MIN_DATE);
        val = $('#test2').val();
        console.log("Get_Date2", $('#test2').val(), "--");
        //console.log("NEW22", m_MA_MIN_DATE1);
        return val;
    };
    
    function Test1(a, b) {
        //console.log("a", a);
        //console.log("b", b);
        //return m_MA_MIN_DATE2;
        //console.log("c");
    };
    
    function Test3() {
        console.log( "TEST3" );
        resultat = $.ajax({
            url : '{{ url_for('get_liste_ville_arrivee2') }}', // on appelle le script JSON
            dataType : 'json', // on spécifie bien que le type de données est en JSON
            data : {
                ville_depart : 'Dallas, TX',
                ville_arrivee : 'Chicago, IL'
            },
            success : function(json) {
                console.log("TEST3 : min", json.date_min);
                console.log("TEST3 : max", json.date_max);
                console.log("TEST3 : defaut", json.date_min);
                $( ".datepicker_depart" ).datepicker( "option", { minDate: new Date($.datepicker.parseDate('mm-dd-yy', json.date_min)) } );
                $( ".datepicker_depart" ).datepicker( "option", { maxDate: new Date($.datepicker.parseDate('mm-dd-yy', json.date_max)) } );
                $( ".datepicker_depart" ).datepicker( "option", { defaultDate: new Date($.datepicker.parseDate('mm-dd-yy', json.date_min)) } );
                
            },
            });
        //TOCTOC = resultat;
        //console.log( "TEST3: TOCTOC = ", TOCTOC );
    
    };
 function customRange(input) {
    return { minDate: (input.id == 'Panel2nrMinDateTextBox' ? $('#Panel2nrMinDateTextBox').datepicker('getDate') : null),
        maxDate: (input.id == 'Panel2nrMaxDateTextBox' ? $('#Panel2nrMaxDateTextBox').datepicker('getDate') : null)
    };
};

function customRange3(input) {
    return { minDate: (input.id == 'Panel2nrMinDateTextBox' ? $('#Panel2nrMinDateTextBox').datepicker('getDate') : null),
        maxDate: (input.id == 'Panel2nrMaxDateTextBox' ? $('#Panel2nrMaxDateTextBox').datepicker('getDate') : null)
    };
};

function customRange222222(input, in2) {
    console.log("JE SUIS PERDU", input, "--");
    console.log("JE SUIS PERDU2", in2, "--");
    //in2( "option", { minDate: new Date($.datepicker.parseDate('mm-dd-yy', "9-1-2016")) });
    console.log("JE SUIS PERDU2", in2, "--");
    return { minDate: $('#datepicker_depart').datepicker('getDate') ,
        maxDate: new Date($.datepicker.parseDate('mm-dd-yy', "12-1-2016")) ,
        defaultDate: new Date($.datepicker.parseDate('mm-dd-yy', MA_MAX_DATE))
    };
};

function customRange2_good(input, in2) {
    console.log("JE SUIS PERDU", input, "--");
    console.log("JE SUIS PERDU2", in2, "--");
    //in2( "option", { minDate: new Date($.datepicker.parseDate('mm-dd-yy', MA_MIN_DATE)) });
    console.log("JE SUIS PERDU2", in2, "--");
    return { minDate: new Date($.datepicker.parseDate('mm-dd-yy', MA_MIN_DATE)) ,
        maxDate: new Date($.datepicker.parseDate('mm-dd-yy', MA_MAX_DATE)) ,
        defaultDate: new Date($.datepicker.parseDate('mm-dd-yy', MA_MIN_DATE))
    };
};

function customRange2(input, in2) {
    return { minDate: new Date($.datepicker.parseDate('mm-dd-yy', MA_MIN_DATE)) ,
        maxDate: new Date($.datepicker.parseDate('mm-dd-yy', MA_MAX_DATE)) ,
        defaultDate: new Date($.datepicker.parseDate('mm-dd-yy', MA_MIN_DATE))
    };
};
   
 $(function() {
 $(function() {
    console.log( "JE SUIS ICI " );
     resultat = $.ajax({
            url : '{{ url_for('get_liste_ville_arrivee2') }}', // on appelle le script JSON
            dataType : 'json', // on spécifie bien que le type de données est en JSON
            data : {
                ville_depart : 'Dallas, TX',
                ville_arrivee : 'Chicago, IL'
            },
            success : function(json) {
                   MA_MIN_DATE = json.date_min;
                   MA_MAX_DATE = json.date_max;
                   enableddates = json.dates_actives;
                   //console.log( "LA VALEUR est :  ", toto );
            },
            })
 });
 
 
 $.datepicker.regional['fr'] = {
  closeText: 'Fermer',
  prevText: 'Précédent',
  nextText: 'Suivant',
  currentText: 'Aujourd\'hui',
  monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
  monthNamesShort: ['Janv.','Févr.','Mars','Avril','Mai','Juin','Juil.','Août','Sept.','Oct.','Nov.','Déc.'],
  dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
  dayNamesShort: ['Dim.','Lun.','Mar.','Mer.','Jeu.','Ven.','Sam.'],
  dayNamesMin: ['D','L','M','M','J','V','S'],
  weekHeader: 'Sem.',
  dateFormat: 'dd/mm/yy',
  firstDay: 1,
  isRTL: false,
  showMonthAfterYear: false,
  yearSuffix: ''};

$.datepicker.setDefaults($.datepicker.regional['fr']);

 $( "#datepicker_depart" ).datepicker({
     onSelect: Test1,
     beforeShow: customRange2, 
     beforeShowDay: EnableSpecificDates,
     monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
     monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
     dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
     dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
     dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
     weekHeader: 'Sem.',
     dateFormat: 'yy-mm-dd',
     altField: "#actualDate", 
     //minDate: new Date($.datepicker.parseDate('mm-dd-yy', '{{ mdate_min | safe}}')), 
     //maxDate: new Date($.datepicker.parseDate('mm-dd-yy', '{{ mdate_max | safe}}')),
     //defaultDate:  new Date($.datepicker.parseDate('mm-dd-yy', '{{ mdate_min | safe}}')),
     
     //minDate: new Date($.datepicker.parseDate('mm-dd-yy', '11-01-2016')), 
     //maxDate: new Date($.datepicker.parseDate('mm-dd-yy', '12-01-2016')),
     //defaultDate:  new Date($.datepicker.parseDate('mm-dd-yy', '12-01-2016')),
     
     
        //minDate: new Date($.datepicker.parseDate('mm-dd-yy', Get_Date1())), 
        /////maxDate: new Date($.datepicker.parseDate('mm-dd-yy', Get_Date2())),
        //defaultDate:  new Date($.datepicker.parseDate('mm-dd-yy', '11-01-2016')),
 });
 
 var showOptions = $( ".datepicker_depart" ).datepicker( "option", "showOptions" );
 console.log("Voici la Fin ", showOptions);
 
 });
 </script>
 
