<div class="film">
  <div class="row">
    <div class="col-sm-3">
      <h2 id="film_name">{{ film_info['titre'] }}</h2>
    </div>
    <div class="col-sm-12">
      <h4 id="directeur">{{ film_info['directeur'] }}</p>
    </div>
    <div class="col-sm-12">
      <p id="acteur1">{{ film_info['act1'] }}</p>
    </div>
    <div class="col-sm-12">
      <p id="acteur2">{{ film_info['act2'] }}</p>
    </div>
    <div class="col-sm-12">
      <p id="acteur3">{{ film_info['act3'] }}</p>
    </div>
    <div class="col-sm-12">
      <p id="label">{{ film_info['label'] }}</p>
    </div>
    
  </div>
</div>
