{% extends 'base2.html' %}

{% block content %}
  <!-- Header -->
  <header>
    
      <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
          Film proposé
          </div>
      </div>
      <div class="row">
        <div class="intro-text">
          <h1 class="name">Est-ce film ?</h1>
          <hr class="star-light">
        </div>
        
        {% for film_info in resultat_films %}
        <div class="container" id="maincontent" tabindex="-1">
            {% include 'info_one_film_bis.html' %}
         </div>
        {% endfor %}          
        
        
        <div class="col-lg-8 col-lg-offset-2 text-center">
          
          <p style="margin-top: 20px;">
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" 
            data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true" onlogin='checkLoginState()'></div>
          </p>
        </div>
      </div>
    
  </header>

  <div id="fb-root"></div>

{% endblock %}
