<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sélection d'un film !">
    <meta name="author" content="">
    <title>Le film de mon choix !</title>

    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    
</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Contenu principal2</a></div>

    
    
    <div id="title">Bonjour le monde<div>
    <div id="corps">
        <p>Ici c'est le texte que je souhaite afficher<p>
        <p>Encore une fois et la suite<p>
    
    
    
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="star-light">
                        <span class="italic">Copyright &copy; Sébastien Toquet</span>
                        <p style="font-style:italic; font-size: 14px;"></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>