table {
    border-spacing: 0;
    width: 100%;
    border: 2px solid #ddd;
}

th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 14px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.ui-selectmenu-open {width: 97.3% !important;}

.ui-selectmenu-menu ui-front {width: 97.3% !important;}

.ui-selectmenu-text {width: 97.3% !important;}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.8em;
}